.bg1{background-image:url(../images/bg.jpg); background-size: 100%;}
.bg2{background-image:url(../images/bg1.jpg); background-size: 100%;}
body{padding:0;margin:0;}
.f_left{float:left;}
.f_right{float:right;}

/*.shadow{
					  -moz-box-shadow: 7px 6px 17px #cccccc;
    				  -webkit-box-shadow: 7px 6px 17px #cccccc;
    				  box-shadow: 7px 6px 17px #cccccc;
				}
*/

.login_container{width:356px; margin-top:20%;}
.title_container{width:99%; float:left; font-size:13px; text-align:left;}
.content_container{width:100%; float:left; height:180px; background-color: rgba(51,51,51,0.5); text-align:center;}
.w_60{width:60%; float:left;}
.w_40{width:30%; float:left;}
.clear{clear:both;}

.border{border:1px solid white;}
.gone{display:none;}